<html>
	<head>
		<title>$action.getText("jira-wechat.personal.configuration.roster.label")</title>
		$webResourceManager.requireResourcesForContext("jira-wechat-connector")
		<script type="text/javascript">
			function deleteRow(row) {
				AJS.$(row).remove();
			}
			
			function updateRowFromButton(button) {
				var row = button.parentNode.parentNode.parentNode.parentNode;
				AJS.$.ajax({
					url: "/rest/wechataccountinfo/1.0/roster/" + row.childNodes[0].data,
					method: "POST",
					success: function (data, textStatus, jqXHR) {
						AJS.messages.success({
							title: "Updated",
							body: "<p>Successfully updated information.</p>"
						});
					},
					error: function (data, textStatus, jqXHR) {
						AJS.messages.error({
							title: "Error",
							body: "<p>An error occurred.</p>"
						});
					}
				});
			}
			
			function deleteRowFromButton(button) {
				var row = button.parentNode.parentNode.parentNode.parentNode;
				AJS.$.ajax({
					url: "/rest/wechataccountinfo/1.0/roster/" + row.childNodes[0].data,
					method: "DELETE",
					success: function (data, textStatus, jqXHR) {
						deleteRow(row);
						AJS.messages.success({
							title: "Deleted",
							body: "<p>Successfully deleted information.</p>"
						});
					},
					error: function (data, textStatus, jqXHR) {
						AJS.messages.error({
							title: "Error",
							body: "<p>An error occurred.</p>"
						});
					}
				});
			}
			
			AJS.$("#searchForm").submit(function (e) {
				e.preventDefault();
				jQuery.ajax({
					url: "/rest/wechataccountinfo/1.0/roster",
					method: "post",
					data: jQuery("#searchForm").serialize(),
					success: function (data) {
						jQuery("#roster-table > tbody").empty();
						var row = jQuery("<tr></tr>");
						if (data.userId && data.userId !== "")
							row.append('<td headers="username-header"><input type="text" id="username-textbox" value="' + data.username + '" /></td><td headers="weChatId-header"><input type="text" id="weChatId-textbox" value="' + data.weChatId + '" /></td><td headers="userId-header"><input type="text" id="userId-textbox" value="' + data.userId + '" /></td>'));
							row.append('<td class="action"><ul class="menu"><li><a href="javascript:updateRowFromButton(this);">Update</a></li><li><a href="javascript:deleteRowFromButton(this);">Delete</a></li></ul></td>');
							jQuery("#roster-table > tbody").append(row);
						}
						else {
							row.children("tr").append('<td colspan="4"><div class="aui-message aui-message-generic"><p class="title">No records</p><p>The username pay not exist, or there is no record set for this username.</p></div></td>');
							jQuery("#roster-table > tbody").append(row);
						}
					}
				});
			});
		</script>
	</head>
	<body>
		<div id="aui-message-bar"></div>
		#if ($action.hasAnyErrors())
		<div class="aui-message aui-message-error">
			<p class="title"><strong>Error</strong></p>
			#foreach ($error in $action.getErrorMessages())
			<p>${error}</p>
			#end
		</div>
		#end
		<form class="aui" id="searchForm" method="post" action="">
			<fieldset>
				<legend>Search</legend>
				<div class="field-group">
					<label for="username">Username</label>
					<input class="text medium-field" id="username" />
				</div>
				<div class="buttons-container">
					<div class="buttons">
						<input class="button submit" type="submit"
					</div>
				</div>
			</fieldset>
		</form>
		<table id="roster-table">
			<thead>
				<tr>
					<th id="username-header">Username</th>
					<th id="weChatId-header">WeChat Account</th>
					<th id="userId-header">WeChat Enterprise Generated User ID</th>
					<th id="actions-header">Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</body>
</html>