<html>
    <head>
        <title>JIRA WeChat Connector</title>
        <meta name="decorator" content="atl.admin">
        $webResourceManager.requireResource("com.takefive.plugins.jira.wechat:resources:jira-wechat-resources")
    </head>
    <body>
        <form id="configSecret" class="aui">
            <div>
                <label for="corpId">CorpId</label>
                <input type="text" id="corpId" name="corpId">
            </div>
            <div>
                <label for="corpSecret">Secret</label>
                <input type="text" id="corpSecert" name="corpSecret">
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </body>
</html>